In [1]:
from model.entity.Pessoa import Pessoa
import duckdb
import numpy as np
from imports.default.default_imports import *
from deltalake import DeltaTable, write_deltalake , data_catalog , DataType , DataCatalog
cursor = duckdb.connect(database="./data/databases/default.db", read_only=False)

In [7]:
pessoa = Pessoa(nome="João", idade=20, rua="Rua 1", cidade="Cidade 1")

In [2]:
cursor.query("CREATE TABLE IF NOT EXISTS pessoa (nome VARCHAR, idade INTEGER, rua VARCHAR, cidade VARCHAR);")

SyntaxError: invalid syntax (2439837792.py, line 1)

In [8]:
df=pd.DataFrame([pessoa.__dict__]).to_sql("pessoa", con=cursor, if_exists="replace", index=False)

In [ ]:
#

In [9]:
df

-1

In [10]:
query = "SELECT * FROM pessoa"
result = pd.read_sql(query, con=cursor)
print(result)

   nome  idade    rua    cidade
0  João     20  Rua 1  Cidade 1

:

In [19]:
duckdb_df = pd.read_sql("select * from pessoa", con=cursor)

In [29]:
duckdb.sql("SELECT * FROM duckdb_df").fetchdf().to_sql("pessoa", con=cursor, if_exists="replace", index=False)

   nome  idade    rua    cidade
0  João     20  Rua 1  Cidade 1

In [ ]:
#

In [13]:
#how transform a dict into a numpy array
vector_people = np.array(list(pessoa.__dict__.values()))

In [14]:
vector_people

array(['João', '20', 'Rua 1', 'Cidade 1'], dtype='<U11')